.gal-container{
    background-image: url("../img/bg_gallery.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    text-align: center;
    height: 968px;
    width: 1920px;
    font-family: "Bubble Bobble";
    font-size: 70px;
    color: brown;
}
.navbar{

}
.cards-container{

    height: 750px;
    margin-left: 250px;
    width: 75%;
    overflow: scroll;
    overflow-x: hidden;
}
.border1{
    position: relative;
    cursor: pointer;
    background-color: white;
    border-radius: 5%;
    width: 240px;
    height: 315px;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    box-shadow: 5px 10px 18px gray;
  }
  .border1:hover{
    transform: scale(105%);
    transition: 0.5s ease-in-out;
  }
  .border2{
    border: 3px solid;
    border-radius: 5%;
    position: absolute;
    width: 215px;
    height: 293px;
    margin: 12px auto auto 12px;
  }
  .text2{
    font-size: 43px;
    margin-top: 45px;
  }
  .text1{
    font-size: 40px;
    padding-left: 23px;
    margin-top: 5px;
    
  }
  .volume {
    margin-right: 5px;
    margin-top: 15px;
  }
  .lookup{
    margin-right: 10px;
    margin-top: 10px;
  }
  .img{
    width: 100px ;
    height: 100px;
    margin-top: 20px;
  }
.col{
    position: relative;;

}
.lookup-container{
    position: absolute;
    background-image: url("../img/pop-up-mean.png");
    background-repeat: no-repeat;
    background-size: cover; 
    text-align: center;
    font-size: 20px;
    top:-1px;
    z-index: 1;
    height: 968px;
    width: 1920px;

}

.lookup-content{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 67px;
  width: 1000px;
  margin-left: 550px;
  padding-left: 50px;
  color: white;
  margin-top: 450px;
  text-transform: uppercase;
}



.cancel{

    width: 30%;
    margin-left: 35%;
    cursor: pointer;
    font-size: 30px;
    background-color: gray ;
    border-radius: 10px;
    margin-top: 10px;

}
.home-button{
    margin-left: 10px;
}
.home-button:hover{
    transform: scale(110%);
}

.cancel:hover{
  transform: scale(110%);
}